<apex:page standardController="sofactoapp__Factures_Client__c"
    extensions="sofactoapp.FactureProcessingControllerExtension" renderAs="pdf" showHeader="false" sidebar="false"
   >


    <!-- Styles -->
     <!-- <apex:stylesheet value="{!URLFOR($Resource.sofactoapp__INVOICE_STYLE)}" /> -->

    <apex:stylesheet value="{!URLFOR($Resource.INVOICE_STYLE_PL)}" />

    

    <div id="wrap" style="position:relative;">

        <!-- Pied de page/ Footer -->
        <apex:outputPanel id="panelHeaderFooter" styleClass="footer_center  small" layout="block">
            <table width="100%">
                <tr>
                    <!--Coordonnées de votre entreprise/ Your company's adress-->
                    <td style="width:50%">
                        <apex:outputPanel >
                            <b>
                                <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.Name}"
                                    style="color: RGB(80,79,124);" />
                                <br/><apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Rue__c}
                                            {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Code_postal__c}
                                            {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Ville__c} 
                                            {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Pays__c}"
                                            style="color: RGB(80,79,124);" /></b>
                            <br/><apex:outputText value="Tel : {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__T_l_phone__c}"
                                rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__T_l_phone__c))}" />
                            <br /><apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__website__c}"
                                rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__website__c))}" />
                            
                        </apex:outputPanel>
                    </td>
                    <!--Contact de votre entreprise/ Your companies contact infos-->
                    <td class="borderOn" style="border-left: grey; border-top:hidden;border-bottom:hidden;padding-left:50px">
                    <apex:outputPanel >
                           <apex:outputText value="{!$ObjectType.sofactoapp__Raison_Sociale__c.Fields.sofactoapp__SIREN__c.Label} : 
                                {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__SIREN__c}" />
                            <br />
                            <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Forme_juridique__c} {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Capital_social__c} "/>
                            <br/>
                           <apex:outputText value="RCS {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Ville_RCS__c}" />
                            <br/>
                            <apex:outputText value=" N° de TVA intracommunautaire - {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__TVA_intra__c}" />

                        </apex:outputPanel>
                    </td>
                </tr>
            </table>
        </apex:outputPanel>



        <!-- Structure principale/ Main Structure -->

         <table>
            
            <!-- logo -->
            <tr>
                <td  style="width:60%">
                    
                    <apex:image id="logo" value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Logo__c}"
                                styleClass="logo" alt="Logo" rendered="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Logo__c != ''}" style="float:left ;
                                                                                                                                                               height: 120px; 
                                                                                                                                                               width: 120px;"/> 
                    
                    <!-- If no logo, holding the space for page layout-->
                    <apex:outputPanel rendered="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Logo__c == ''}">
                        <div
                             style="height: 100px; width: 300px; background-color: transparent">&nbsp;</div>
                    </apex:outputPanel> 
                    
                </td>
                <td style="width:40%">
                    <p style="font-size: 16px;padding-left: 90px">
                       <!-- <b class= "{!IF(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Facture','','hiddenElement')}">Facture&nbsp;</b>-->
                        
                       <b> <apex:outputText rendered="{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Facture', sofactoapp__Factures_Client__c.sofactoapp__Sous_type__c == 'Acompte'),true, false)}" value="Facture Acompte"/>&nbsp;</b><!--YO-->
                       <b> <apex:outputText rendered="{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Facture', sofactoapp__Factures_Client__c.sofactoapp__Sous_type__c == 'Solde'),true, false)}" value="Facture Solde"/>&nbsp;</b><!--YO-->
                       <b> <apex:outputText rendered="{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Facture', sofactoapp__Factures_Client__c.sofactoapp__Sous_type__c == ''),true, false)}" value="Facture"/>&nbsp;</b><!--YO-->

                       <b class= "{!IF(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Avoir','','hiddenElement')}">Avoir&nbsp;</b>
                    </p>
                </td>
            </tr>
            <!-- Mentions légales -->
            <tr>
                <!-- Infos Raison Sociale-->
                
                <td style="width:60%">
                    <apex:outputPanel >
                        <b>
                            <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.Name}"
                                style="color: RGB(80,79,124);" />
                            <br/><apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Rue__c}
                                        {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Code_postal__c}
                                        {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Ville__c} 
                                        {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Pays__c}"
                                        style="color: RGB(80,79,124);" /></b>
                        <br/><apex:outputText value="Tel : {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__T_l_phone__c}"
                            rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__T_l_phone__c))}" />
                        <br /><apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__website__c}"
                            rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__website__c))}" />
                        
                    </apex:outputPanel>
                    
                    <div class="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r)),'','hiddenElement')}">
                        <br/>
                        <br/><br/>
                        <b>Votre contrat&nbsp;</b>
                        <br />Date de debut :<apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Debut_periode_facturation__c}"/>
                        <br />Date de fin :<apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.sofactoapp__Date_de_fin__c}"/>
                        <!-- <br />Lieu concerné : <apex:outputText value=" {!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r)),sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.Bien__r.Name,sofactoapp__Factures_Client__c.sofactoapp__Offre__r.sofactoapp__Opportunite__r.Bien__r.Name)}"/> 
                        <br />Type de prestation : <apex:outputText value=" {!sofactoapp__Factures_Client__c.Libelle_Type__c}"/> 
                        <br />Bénificiaire : <apex:outputText value=" {!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r)),sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.Locataire_Occupant__r.Name,sofactoapp__Factures_Client__c.sofactoapp__Offre__r.Locataire_Occupant__r.Name)}"/>-->
                        <!-- Infos Client -->
                    </div>                   
                    <br/><br/>                       
                </td>
                
                <apex:variable var="Contact" value="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Contact__r)),true, false)}"/>
                <apex:variable var="Compte" value="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Compte__r)),true, false)}"/>

                <apex:variable var="BillingStreetBillingCityNull" value="{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingStreet == null, sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingCity == null),true, false)}"/>
                <apex:variable var="BillingCountryBillingPostalCodeNull" value="{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingCountry == null, sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingPostalCode == null),true, false)}"/>
                <td style="width:40%;padding-left: 70px" >
                    
                        <apex:outputPanel layout="none" rendered="{!Compte}">
                            <p style="padding-left: 50px"><span style="font-size: 14px"><b><apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.Name}" /></b></span>
                            <apex:outputPanel layout="none" rendered="{!Contact}">
                                <br/> <b><apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.Lastname} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.firstname}"  /></b> 
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!AND(BillingStreetBillingCityNull, BillingCountryBillingPostalCodeNull)}">
                                <apex:outputPanel layout="none" rendered="{!Contact}">                     
                                    <br/> <apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingStreet} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingPostalCode}"  />
                                    <br/> <apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingCity} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingCountry}"  />              
                                </apex:outputPanel>
                            </apex:outputPanel>
                                
                            <br/><apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingStreet} {!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingPostalCode}"  />
                            <br/><apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingCity} {!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.BillingCountry}"  /></p>                     
                            <br/>
                            
                            
                            <!-- <p style="padding-left: 50px"><apex:outputPanel layout="none" rendered="{!Contact}">
                                <br/> <b><apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.Lastname} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.firstname}"  /></b> 
                                <br/> <apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingStreet} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingCity}"  />
                                <br/> <apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingCountry} {!sofactoapp__Factures_Client__c.sofactoapp__Contact__r.MailingPostalCode}"  />
                                
                            </apex:outputPanel>   &nbsp; </p> -->
                        </apex:outputPanel> &nbsp;                      
                    
                </td>
            </tr>
            <!-- saut de ligne -->
    
            <!-- Corps -->
            <tr>
                <!-- Dates -->
                <td class="vtop" colspan="2">
                    <br/><b>Facturation&nbsp;</b>
                    <br/>N° document : <span class= "{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Reference__c)),'','hiddenElement')}"><apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Reference__c}"/></span><span class= "{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Reference__c)),'hiddenElement','')}"><apex:outputField value="{!sofactoapp__Factures_Client__c.Name}"/></span>
                    <br/>Date facture :  <apex:outputText value=" {!sofactoapp__Factures_Client__c.sofactoapp__Date_de_facture__c} "/> 
                    <!--YO <br/><br/><span class= "{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Sous_type__c)),'','hiddenElement')}"><apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Sous_type__c}" /></span>-->
                </td>                
            </tr>
        </table>

        <!-- Objet de la facture - V/Ref - Commentaire supplémentaire / Invoice Subject - Additional Reference - Additional Comments -->

        <table>

            <tr>
                <td class="vtop borderOff">
                    <apex:outputPanel rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__Objet_Facture__c))}"
                        layout="none">
                        <b>
                            <apex:outputText style="font-size:15px;"
                                value="{!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Objet_Facture__c.Label} :" />
                        </b>
                        <apex:outputText style="font-size:15px;"
                            value="{!sofactoapp__Factures_Client__c.sofactoapp__Objet_Facture__c}" />
                        <br /><br />
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__V_R_f__c))}"
                        layout="none">
                        <b>{!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__V_R_f__c.Label} :</b>
                        {!sofactoapp__Factures_Client__c.sofactoapp__V_R_f__c}
                        <br />
                    </apex:outputPanel>

                    <apex:outputPanel rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__Commentaires__c))}"
                        layout="none">
                        <b>{!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Commentaires__c.Label} :</b>
                        {!sofactoapp__Factures_Client__c.sofactoapp__Commentaires__c}
                    </apex:outputPanel>
                </td>
            </tr>
        </table>


        <!-- Lignes de facture/ Invoice Lines -->
                    <br/>
        
                    <table class="borderOn">
                        
                        <!-- Ligne entête produits/ Table header -->

                        <tr style="background: rgb(235,235,235)">
                            <th class="aligncenter" colspan="2">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Description__c.Label}
                            </th>
                            <th class="aligncenter">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Prix_Unitaire_HT__c.Label}
                            </th>
                            <th class="aligncenter">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Quantit__c.Label}
                            </th>
                            <th class="aligncenter">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Taux_de_TVA_list__c.Label}
                            </th>
                            <th class="aligncenter" style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, sofactoapp__Factures_Client__c.sofactoapp__Montant_remise_lignes__c!=0),'', 'none')}" >
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Taux_Remise__c.Label} 
                                
                            </th>
                            <th class="aligncenter" style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, sofactoapp__Factures_Client__c.sofactoapp__Montant_remise_lignes__c!=0),'', 'none')}">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Montant_Total_Remise__c.Label}
                            </th>
                            <!--Yo
                            <th class="aligncenter"
                                style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, '', 'none')}">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Pourcentage__c.Label}
                            </th>
                            <th class="aligncenter">
                                {!$ObjectType.sofactoapp__Ligne_de_Facture__c.Fields.sofactoapp__Montant_total_HT__c.Label}
                            </th>-->
                        </tr>

                        <!-- Pour chaque poste de facture/ For each Invoice Line Item -->

                        <apex:repeat value="{!orderedInvoiceLineItems}" var="orderedLigne" id="orderedLignes">
                            <apex:repeat value="{!sofactoapp__Factures_Client__c.sofactoapp__Lignes_de_Facture__r}"
                                var="ligne" id="lignes">
                                <apex:outputPanel layout="none" rendered="{!ligne.Id == orderedLigne}">
                                    <tr>
                                        <td class="alignleft" colspan="2">
                                            <apex:outputField value="{!ligne.sofactoapp__Description__c}" />
                                            <apex:outputpanel layout="none"
                                                rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Afficher_details_produit__c}">
                                                <br /><span style="font-style: italic;">
                                                    <apex:outputField value="{!ligne.sofactoapp__Produit__r.Description}"
                                                        style="font-size:9px;" /></span>
                                            </apex:outputPanel>
                                            <apex:outputpanel layout="none"
                                                rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Afficher_description_detaillee__c}">
                                                <br /><span style="font-style: italic;">
                                                    <apex:outputField value="{!ligne.sofactoapp__Description_detaillee__c}"
                                                        style="font-size:9px;" /></span>
                                            </apex:outputPanel>
                                        </td>
                                        <td class="aligncenter">
                                            <sofactoapp:CurrencyFormat p_amount="{!ligne.sofactoapp__Prix_Unitaire_HT__c}"
                                                rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c}" />
                                            <sofactoapp:CurrencyFormat p_amount="{!ligne.sofactoapp__Prix_unitaire_HT_apres_remise__c}"
                                                rendered="{!NOT(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c)}" />
                                        </td>
                                        <td class="aligncenter">
                                            <apex:outputField value="{!ligne.sofactoapp__Quantit__c}" />
                                        </td>
                                        <td class="aligncenter">
                                            <apex:outputField value="{!ligne.sofactoapp__Taux_de_TVA_list__c}" />
                                        </td>
                                        <td style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, sofactoapp__Factures_Client__c.sofactoapp__Montant_remise_lignes__c!=0),'', 'none')}" class="aligncenter">

                                            <apex:variable var="myVa" value="{!ROUND(ligne.sofactoapp__Taux_Remise__c, 2)}"/>                       
                                            <apex:outputText value="{!myVa} "/>
                                        </td>

                                        <td class="aligncenter" style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, sofactoapp__Factures_Client__c.sofactoapp__Montant_remise_lignes__c!=0),'', 'none')}" >
                                            <apex:outputField value="{!ligne.sofactoapp__Montant_Total_Remise__c}" />
                                           <!-- style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, sofactoapp__Factures_Client__c.sofactoapp__Montant_remise_lignes__c!=0),'', 'none')}" je ne peux pas car le th n'est pas dans la boucle -->
                                        </td>


                                        <!--Yo
                                        <td class="aligncenter"
                                            style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, '', 'none')}">
                                            <apex:outputField value="{!ligne.Tech_Percent__c}" />
                                        </td>
                                        <td class="alignright">
                                            <sofactoapp:CurrencyFormat p_amount="{!ligne.sofactoapp__Montant_total_HT__c}" />
                                        </td>-->
                                    </tr>
                                </apex:outputPanel>
                            </apex:repeat>
                        </apex:repeat>

                        <!--ATTENTION : A personnaliser selon les besoins du client/ Please customize this part according to your clients needs-->

                        <!-- Ces variables sont utilisé pour garder l'espace dans le tableau pour la remise, / 
                        These variables ensure that you have enough space for your discount, please customize if necessary-->

                        <apex:variable var="colspan1"
                            value="{!IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, 5, 4), IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, 5, 4))}" />
                        <apex:variable var="colspan2"
                            value="{!IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, 2, 1), IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_pourcentage__c, 2, 1))}" />


                        <!-- Saut de ligne / Line Break -->
                        <tr>
                            <td colspan="{!colspan1}" class="borderOff">&nbsp;</td>
                        </tr>                      
                    </table>

                    <div  style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c,'', 'none')};width: 100%">
                    <table class="borderOn" >

                     <!-- Yo Remise facture / Discount -->

                        <!--ATTENTION : A personnaliser selon les besoins du client/ Please customize this part according to your clients needs-->

                        <tr style="background: rgb(235,235,235)">
                           
                         <th style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_description__c!='','', 'none')}" class="aligncenter" colspan="2">{!$Label.sofactoapp__text_remise}</th>
                                                    
                           <th style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_rate__c!=null,'', 'none')}" colspan="2" class="aligncenter">
                                {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Discount_rate__c.Label}
                            </th>
                            <th style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_amount__c!=0,'', 'none')}" class="aligncenter">
                                {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Discount_amount__c.Label}
                            </th>
                        </tr>
                        <tr>
                                <td style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_description__c!='','', 'none')}" class="aligncenter" colspan="2">
                                    <apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Discount_description__c}" />
                                </td>

                            <td style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_rate__c!=null,'', 'none')}" colspan="2" class="aligncenter">
                                <apex:outputText value="{0, number, ###.00}%">
                                    <apex:param value="{!sofactoapp__Factures_Client__c.sofactoapp__Discount_rate__c}" />
                                </apex:outputText>
                            </td>
                            <td style="display:{!IF(sofactoapp__Factures_Client__c.sofactoapp__Discount_amount__c!=0,'', 'none')}"  class="aligncenter">
                                <sofactoapp:CurrencyFormat p_amount="{!sofactoapp__Factures_Client__c.sofactoapp__Discount_amount__c}" />
                            </td>
                        </tr>

                        <!-- Saut de ligne/ Line Break -->
                        
                        <tr
                            style="display:{!IF (sofactoapp__Factures_Client__c.sofactoapp__Afficher_remise__c, '', 'none')}">
                            <td colspan="{!colspan1}" class="borderOff">&nbsp;</td>
                        </tr>
                        </table>
                    </div>
                       
                    <br/>
            <div style="width: 100%">
              <table style="padding-left: 65%">
                        <!-- YO Pourcentag -->
                  <tr style="display:{!IF(AND(sofactoapp__Factures_Client__c.sofactoapp__Type_de_facture__c == 'Facture', sofactoapp__Factures_Client__c.sofactoapp__Pourcentage__c != null),'', 'none')}">
                      <td colspan="{!colspan1}" class="borderOff"></td>
                      <th class="aligncenter" colspan="1" style="background: rgb(235,235,235)">
                          {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Pourcentage__c.Label}
                      </th>
                      <td class="aligncenter">
                        <apex:variable var="myVar" value="{!ROUND(sofactoapp__Factures_Client__c.sofactoapp__Pourcentage__c, 2)}"/>                       
                            <apex:outputText value="{!myVar} %"/>

                         <!-- <apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Pourcentage__c}"/>-->

                      </td>
                  </tr>
                                     
                  <tr>
                      <td colspan="{!colspan1}" class="borderOff"></td>
                      <th class="aligncenter" colspan="1" style="background: rgb(235,235,235)">
                          {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Amount_exVAT__c.Label}
                      </th>
                      <td class="aligncenter">
                          <sofactoapp:CurrencyFormat p_amount="{!sofactoapp__Factures_Client__c.sofactoapp__Amount_exVAT__c}" />
                      </td>
                  </tr>
                  <!-- TVA/ VAT -->
                  <tr>
                      <td colspan="{!colspan1}" class="borderOff"></td>
                      <th class="aligncenter" colspan="1" style="background: rgb(235,235,235)">
                          {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Montant_TVA_apres_remise__c.Label}
                      </th>
                      <td class="aligncenter">
                          <sofactoapp:CurrencyFormat p_amount="{!sofactoapp__Factures_Client__c.sofactoapp__Montant_TVA_apres_remise__c}" />
                      </td>
                  </tr>
                  <!-- Total TTC/ Total incl. VAT -->
                  <tr>
                      <td colspan="{!colspan1}" class="borderOff"></td>
                      <th colspan="1" class="aligncenter" style="background: rgb(235,235,235)">
                          {!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Amount_VAT__c.Label}
                      </th>
                      <td class="aligncenter">
                          <sofactoapp:CurrencyFormat p_amount="{!sofactoapp__Factures_Client__c.sofactoapp__Amount_VAT__c}" />
                      </td>
                  </tr>
                  <!-- Saut de lignes/ Line Breaks -->

                  <tr>
                      <td class="borderOff">&nbsp;</td>
                  </tr>
                  <tr>
                      <td class="borderOff">&nbsp;</td>
                  </tr>
                  </table>
                </div>




                    <!-- Conditions particulières/ Special Conditions -->

                    <table style="background: rgb(246,246,246)">
                        

                        <apex:outputPanel layout="none"
                            rendered="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Conditions_Particuli_res__c)), '', 'none')}">
                            <tr>
                                <td class="borderOff">


                                    <b>{!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Conditions_Particuli_res__c.Label}
                                        :&nbsp;</b>
                                    <br />
                                    <apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Conditions_Particuli_res__c}" />
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </apex:outputPanel>

                        <!--Date d'échéance/ Due date-->

                        <apex:outputPanel layout="none"
                            rendered="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Ech_ance__c)), '', 'none')}">
                            <tr>

                                <td class="borderOff">
                                    <b>{!$ObjectType.sofactoapp__Factures_Client__c.Fields.sofactoapp__Ech_ance__c.Label}
                                        :&nbsp;</b>
                                    <apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__Ech_ance__c}" />
                                    <br /><br />


                                </td>
                            </tr>
                        </apex:outputPanel>

                        <!--Pénalités en cas de retard/ Penalties in case of delay-->

                        <apex:outputPanel layout="none"
                            rendered="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__P_nalit_s_en_cas_de_retard__c)), '', 'none')}">
                            <tr>

                                <td class="borderOff">

                                    <br/><apex:outputText value="{!$Label.Conditions_Rglements}" style="font-weight:bold"/><apex:outputText value=" :" style="font-weight:bold"/>
                                    <br/>
                                    <!--<b>{!$ObjectType.sofactoapp__Raison_Sociale__c.Fields.sofactoapp__P_nalit_s_en_cas_de_retard__c.Label}
                                        :&nbsp;</b>
                                    <br />-->
                                    <br/><apex:outputField value="{!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__P_nalit_s_en_cas_de_retard__c}" />

                                </td>
                            </tr>
                        </apex:outputPanel>

                        <apex:outputPanel layout="none" 
                            rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Payment_mode__c == 'Virement'}">  
                            <tr>
                                <td class="borderOff">
                                    <b>Modalité de paiement : A reception de facture &nbsp;</b>
                                    <br/><b>Par virement : &nbsp;</b>Coordonnées bancaires
                                </td>
                            </tr>
                        </apex:outputPanel>
                        <apex:outputPanel layout="none" 
                            rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Payment_mode__c == 'Prélèvement'}">  
                            <tr>
                                <td class="borderOff">
                                    <br/>Modalité de paiement : Prélevement automatique 
                                </td>
                            </tr>
                        </apex:outputPanel>
                        <apex:variable var="CompteOuContact" value="{!IF(NOT(ISNULL(sofactoapp__Factures_Client__c.sofactoapp__Compte__r)),true, false)}"/>
                        <apex:outputPanel layout="none" 
                            rendered="{!sofactoapp__Factures_Client__c.sofactoapp__Payment_mode__c == 'Prélèvement'}">
                                <tr>
                                    <td class="borderOff">    
                                        <br/>Titulaire du compte : <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.Name}"/> 
                                        <br/>Nom de la Banque : <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__Banque__c}"/> 
                                        <br/>IBAN : <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__IBAN__c}"/> 
                                        <br/>BIC  : <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__BIC__c}"/> 
                                        <br/>RIB  : <apex:outputText value="{!sofactoapp__Factures_Client__c.sofactoapp__Compte__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__RIB__c}"/> 
                                        <br/><br/>En cas de modification de référence de ce compte, merci de nous contacter.<br/>
                                    </td>
                                </tr>
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!OR(sofactoapp__Factures_Client__c.sofactoapp__Payment_mode__c == 'Virement',sofactoapp__Factures_Client__c.Facture_Privatisation__c)}">  
                                <tr>
                                    <td class="borderOff">
                                        <br/><b style="font-size: 12px">Coordonnées bancaires :</b><br/>
                                        <br/>IBAN : <span style="width: 5px"></span><apex:outputField value=" {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__IBAN__c}"/>
                                        <br/>BIC : <span style="width: 5px"></span><apex:outputField value=" {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__BIC__c}"/>
                                        <br/>RIB : <span style="width: 5px"></span><apex:outputField value=" {!sofactoapp__Factures_Client__c.sofactoapp__emetteur_facture__r.sofactoapp__Coordonnees_bancaires_par_defaut__r.sofactoapp__RIB__c}"/><br/>
                                    </td>
                                </tr>
                            </apex:outputPanel>
                    </table>
                    <!--<table> -->

                        <!-- Indice -->
                        <!--<tr>
                            <td class="borderOff">
                                <apex:outputPanel layout="none"
                                    rendered="{!NOT(ISBLANK(sofactoapp__Factures_Client__c.sofactoapp__IndiceId__c))}">
                                    <br />
                                    <br />Prix révisé selon la formule P1 = P0 x (S1 / S0)

                                    <br />
                                    <apex:outputText value="S0 = indice {!sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.sofactoapp__Indice__r.Name} {0,date,dd'/'MM'/'yyyy}">
                                        <apex:param value="{!sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.sofactoapp__Date_indice_reference__c}" />
                                    </apex:outputText>
                                    &nbsp;=&nbsp;
                                    <apex:outputText value="{!FLOOR(sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.sofactoapp__Coefficient_indice_reference__c)}" />


                                    <br />
                                    <apex:outputText value="S1 = indice {!sofactoapp__Factures_Client__c.sofactoapp__Abonnement__r.sofactoapp__Indice__r.Name} {0,date,dd'/'MM'/'yyyy}">
                                        <apex:param value="{!sofactoapp__Factures_Client__c.sofactoapp__Date_indice__c}" />
                                    </apex:outputText>
                                    &nbsp;=&nbsp;
                                    <apex:outputText value="{!FLOOR(sofactoapp__Factures_Client__c.sofactoapp__Coefficient_indice_date__c)}" />
                                    <br />
                                </apex:outputPanel>
                            </td>
                        </tr>
                    </table>-->
    </div>
</apex:page>